/* Reset de estilos */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%; 
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  overflow-x: hidden;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1009%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(44%2c 50%2c 55%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c146 C 57.6%2c141.8 172.8%2c104.4 288%2c125 C 403.2%2c145.6 460.8%2c254 576%2c249 C 691.2%2c244 748.8%2c114.8 864%2c100 C 979.2%2c85.2 1036.8%2c174.4 1152%2c175 C 1267.2%2c175.6 1382.4%2c117.4 1440%2c103L1440 560L0 560z' fill='rgba(122%2c 130%2c 138%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c525 C 96%2c483.4 288%2c334.8 480%2c317 C 672%2c299.2 768%2c442.8 960%2c436 C 1152%2c429.2 1344%2c313.6 1440%2c283L1440 560L0 560z' fill='rgba(168%2c 174%2c 181%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1009'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}
header {
  padding: 20px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(34, 34, 34, 0.8);
}

nav .togglebtn {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 45px;
  right: 3%;
  z-index: 5;
  cursor: pointer;
  display: none;
}

nav .togglebtn span {
  display: block;
  background-color: #007ced;
  margin: 15px 0px;
  width: 100%;
  height: 15px;
  transition: 0.3s;
}

nav .navlinks {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .navlinks li {
  margin-right: 5.5rem;
}

.content {
  padding: 80px 20px;
  max-width: 800px;
  margin: 0 auto;
}

.content h1 {
  margin-bottom: 20px;
  text-align: center;
}

.content input,
.content textarea,
.content button {
  border-radius: 8px;
}
.timeline {
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 5rem;
}

.container .hero-pic {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  overflow: hidden;
  border: 15px solid #444;
  box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
}

.hero-pic img {
  height: 100%;
  width: 100%;
  transition: 0.5s;
}

.hero-pic img:hover {
  transform: scale(1.2);
}

.hero-text {
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.hero-text h5 {
  margin-top: 100px;
  color: #e5e5e5;
  font-size: 15px;
}

.hero-text h5 span {
  color: #007ced;
  font-size: 30px;
}

.hero-text h1 {
  color: #007ced;
  font-size: 3rem;
}

.hero-text p {
  color: #e5e5e5;
  font-size: 25px;
}

.btn-group {
  margin: 45px 0;
  display: flex;
  justify-content: center;
}

.btn-group .btn {
  border-color: #d5d5d5;
  color: #fff;
  background-color: #686868;
  padding: 12px 25px;
  margin: 5px;
  border-radius: 30px;
  border: 2px solid #e5e5e5;
  box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.78);
  justify-content: center;
}

.btn-group .btn.email-btn {
  margin-top: 15px;
}

.btn.active {
  border-color: #007ced;
}

.hero-text .social i {
  color: #e5e5e5;
  font-size: 50px;
  margin-right: 10px;
  transition: 0.5s;
}

.hero-text .social i:hover {
  color: #007ced;
  transform: rotate(360deg);
}

.copy-msg {
  display: none;
  color: #e5e5e5;
  margin-top: 10px;
}

/* Responsive design */
@media (max-width: 930px) {
  nav .togglebtn {
    display: initial;
  }

  .click span {
    position: absolute;
    margin-top: 12px;
  }

  .click span:first-child {
    transform: rotate(-40deg);
  }

  .click span:nth-child(2) {
    opacity: 0;
    margin: 0;
  }

  .click span:last-child {
    transform: rotate(45deg);
    top: 0;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav .navlinks {
    position: static;
    width: auto;
    height: auto;
    right: auto;
    bottom: auto;
    box-shadow: none;
    padding: 0;
    flex-direction: row;
  }

  nav .navlinks li {
    display: block;
    margin-bottom: 15px;
  }
}

.content form {
  max-width: 500px;
  margin: 0 auto;
}

.content label {
  display: block;
  margin-bottom: 5px;
}

.content input,
.content textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
}

.content button {
  background-color: #007ced;
  color: #fff;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

.timeline-item h3 {
  color: #007ced;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.timeline-item p {
  color: #000;
}
.timeline-item {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Fondo blanco semitransparente */
  padding: 20px; /* Espacio interno */
  margin-bottom: 20px; /* Espacio entre elementos */
  border-radius: 10px; /* Bordes redondeados (opcional) */
  transition: transform 0.3s ease; /* Transición suave para el hover */
}

.timeline-item:hover {
  transform: scale(1.1); /* Aumenta el tamaño al 110% al pasar el mouse */
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
}

.project-card {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  text-align: center; 
  transition: transform 0.3s ease; 
  width: 450px;
  height: 250px;
}

.project-card:hover {
  transform: scale(1.1); 
}

.project-card img {
  height: 100px;
  margin-right: 20px;
}

.project-link {
  display: inline-block; 
  background-color: #007ced; 
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
}

.project-card h3, .project-card p {
  color: #000; 
}

.project-card .project-info { /* Nuevo contenedor para el texto */
  text-align: left; /* Alineamos el texto a la izquierda */
}