body {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M28.68 400.02 a49.42 49.42 0 1 0 98.84 0 a49.42 49.42 0 1 0 -98.84 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1358.66 232.5L1406.55 232.5L1406.55 280.39L1358.66 280.39z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M220.55 364.24 a47.83 47.83 0 1 0 95.66 0 a47.83 47.83 0 1 0 -95.66 0z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M628.4 510.05L674.21 510.05L674.21 531.45L628.4 531.45z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M919.04 245.94 a11.98 11.98 0 1 0 23.96 0 a11.98 11.98 0 1 0 -23.96 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M985.54 531.59L1010.66 531.59L1010.66 556.71L985.54 556.71z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1363 121.22L1373.69 121.22L1373.69 166.75L1363 166.75z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M986.08 45.68a1.27 1.27 0 1 0-2.54 0.14z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M482.36 218.63 a19.19 19.19 0 1 0 38.38 0 a19.19 19.19 0 1 0 -38.38 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M388.51 326.03L393.61 326.03L393.61 331.13L388.51 331.13z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M913.63 65.34L951.99 65.34L951.99 103.7L913.63 103.7z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M418.06 178.52L468.26 178.52L468.26 207.61L418.06 207.61z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M99.91 315.77L141.39 315.77L141.39 357.25L99.91 357.25z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M753.39 169.54 a2.25 2.25 0 1 0 4.5 0 a2.25 2.25 0 1 0 -4.5 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M909.22 202.61a51.12 51.12 0 1 0-63.72-79.96z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M70.5 320.01L115.38 320.01L115.38 351.08L70.5 351.08z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M706.38 201.22 a12.43 12.43 0 1 0 24.86 0 a12.43 12.43 0 1 0 -24.86 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M186.29 310.5L196.42 310.5L196.42 320.63L186.29 320.63z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1256.85 184.25a32.36 32.36 0 1 0-57.83-29.05z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M355.96 452.7L371.16 452.7L371.16 503.25L355.96 503.25z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M839.39 247.22 a31.08 31.08 0 1 0 62.16 0 a31.08 31.08 0 1 0 -62.16 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1040.53 75.47L1053 75.47L1053 87.94L1040.53 87.94z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1380.18 425.69L1428.99 425.69L1428.99 446.81L1380.18 446.81z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1292.34 76.73L1336.31 76.73L1336.31 120.7L1292.34 120.7z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M585.62 127.9L622.82 127.9L622.82 165.1L585.62 165.1z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M883.8 474.19L912.4 474.19L912.4 479.41L883.8 479.41z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M477.35 320.03L530.04 320.03L530.04 372.72L477.35 372.72z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1079.75 442.77L1131.85 442.77L1131.85 456.28L1079.75 456.28z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M686.15 251.38L708.32 251.38L708.32 273.55L686.15 273.55z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M520.24 70.34L559.71 70.34L559.71 101.4L520.24 101.4z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M934.54 167.27L982.94 167.27L982.94 215.67L934.54 215.67z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1297.06 560.53a13.26 13.26 0 1 0-8.32-25.18z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1036.52 223.45a13.86 13.86 0 1 0-23.12 15.28z' fill='%23d3b714'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.calculator {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #232a2f;
}

#display {
  grid-row: 1;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.buttons {
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.row {
  display: contents;
}

button {
  padding: 15px;
  font-size: 20px;
  border: 2px solid;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.number {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-color: black;
}

.operator {
  background-color: rgba(255, 165, 0, 0.5);
  color: white;
  border-color: orange;
}

button:hover {
  background-color: rgba(5, 4, 4, 0.2);
}
